{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 8
    },
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "no-console": ["error", { "allow": ["log", "warn", "error"] }],
        "no-unused-vars": [
            2,
            {
                "varsIgnorePattern": "^debug$|^assert$|^_$",
                "argsIgnorePattern": "^_$"
            }
        ]
    }
}
